.footer{
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.nav-footer{	
	display: flex;
}

.nav-footer li{
	margin-right: 10px;
	color: rgba(0, 0, 0, 0.70);
	cursor: pointer;
}

.nav-footer li:hover{
	color: #000;
}

.footer-copyright{
	text-align: center;
	margin-top: 50px;
	color: rgba(0, 0, 0, 0.50);
}

.footer-copyright span{
	font-size: 18px;
	font-weight: 600;
}

.social-icon img{
	margin: 10px;
}
