.main{
	height: 100vh;
	width: 100%;
	background-image: url(../Images/Films/junglebook.png);
	background-size: cover;
	display: block;
}


.main-2{
	height: 100vh;
	width: 100%;
	background-image: url(../Images/Films/tmnt.jpg);
	background-size: cover;
	display: none;
}

.main-3{
	height: 100vh;
	width: 100%;
	background-image: url(../Images/Films/batman.jpg);
	background-size: cover;
	display: none;
}

.main-4{
	height: 100vh;
	width: 100%;
	background-image: url(../Images/Films/hp.jpg);
	background-size: cover;
	display: none;
}

.main-4 .main-film h1{
	font-size: 44px;
}

.main-2 .main-film h1{
	font-size: 44px;
}

.main-menu {
	width: 100%;
	height: 255px;
	display: flex;
	position: absolute;
	bottom: 0;
}

.main-film{
	color: #fff;
	margin-bottom: 40px;
	max-height: 230px;
	max-width: 800px;
	height: 100%;
	width: 100%;
}

.main-film h1{
	font-size: 70px;
}

.main-film li{
	font-size: 30px;
	margin:20px 30px 0 0;
}

.main-film ul{
	display: flex;
}

.rating{
	margin-top:50px;
}

.rating img{
	margin-right: 10px;
	cursor: pointer;
}


.rating span{
	font-size: 24pt;
	color: #fff;
	border-radius: 10px;
	border:3px solid #0aaee4; 
	padding:2px 13.5px;
}

.main-film--menu{
	color: #fff;
	margin: 180px 0 0 auto;
	display: flex;
	height: 60px;
	align-items: center;
}

.buttons-style{
	font-size: 30px;
	margin-right: 30px;
	border-radius: 5px;
	border: 1.8px solid #fff;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.buttons-style:hover{
	background-color: #0aaee4; 		
	border-color: transparent;
}

.main-film--menu---icon{
	height: 32px;
	width: 8px;
	cursor: pointer;
	bottom: 27px;
	right: 100px;
	position: absolute;
}

@media (max-width: 1586px) {
	.buttons-style{	
		margin: 10px;
		width: 176px;
	}
	.main-film--menu{
		margin-top: 0;
		flex-direction: column;
		justify-content: space-between;
	}
	.main-film--menu---icon{
	bottom: 55px;
	right: 70px;
	}
}

@media (max-width: 1152px) {
	.main-film h1{
		font-size: 60px;
	}
	.main-film li{
		font-size: 25px;
	}
}

@media (max-width: 1020px) {
	.main-film h1{
		font-size: 55px;
	}
	.main-film li{
		font-size: 20px;
	}
}