.player{
	display: flex;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.95);
	z-index: 1000;
	justify-content: center;
	align-items: center;
	display: none;	
}
.video{
	border: 10px solid rgba(102, 113, 132, 0.50);
	border-radius: 10px;
	animation: zoom .3s;
}

.close-player{
	position: absolute;
	right: 0;
	top: 0;
	margin: 30px;
	cursor: pointer;
}